flask
flask_cors
requests
openai
python-dotenv
pyupbit
pyjwt
pandas
pandas_ta
schedule
streamlit
matplotlib
plotly
numpy
tensorflow
# tensorflow-gpu
scikit-learn
beautifulsoup4
lxml
feedparser
reportlab